<h1> Iniciar Sesion </h1>

<form action="/users/login" method="POST">
    <div>
        <label for="email">Correo Electronico</label>
        <input
            type="email"
            name="email"
            placeholder="Inserte correo"/>
    </div>
    <div>
        <label for="password">Contrasena</label>
        <input
            type="password"
            name="password"
            placeholder="Inserte contrasena"/>
    </div>
    <button type="submit" class="btn btn-primary btn-block">Login</button>
</form>